@import url("https://cdn.jsdelivr.net/npm/galmuri@latest/dist/galmuri.css");

body {
  display: flex;
  flex-direction: column;
  width: auto;
  justify-content: center;
  align-items: center;
  background-color: #969696;
  font-family: "Galmuri11", monospace;
}

canvas {
  width: 700px;
  height: 700px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 1px 1px 1px #000031;
  border: 1px solid #00001e;
  margin: 10px;
  margin-bottom: 25px;
}

.w-container {
  max-width: 70%;
  height: auto;
  margin-bottom: 30px;
}

.container-wrap {
  display: flex;
  width: auto;
  padding: 10px;
  justify-content: space-around;
}

.column-container {
  display: flex;
  flex-direction: column;
  width: auto;
  height: auto;
  justify-content: space-between;
}

.flex-container {
  display: flex;
  width: auto;
  height: auto;
  justify-content: space-between;
}

.title-wrap {
  display: flex;
  margin-bottom: 10px;
}

.title-icon {
  display: flex;
  margin-right: 10px;
  width: 30px;
  height: 30px;
  box-shadow: 1px 1px 1px #000031;
  border: 1px solid #00001e;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
}

.title {
  display: flex;
  align-items: center;
  font-size: 18px;
}

.btn {
  width: 27px;
  height: 27px;
  padding: 0;
  box-shadow: 1px 1px 1px #000031;
  border: 1px solid #00001e;
  transition: filter 0.2s;
}
